swiper-container {
    width: 100%;
    height:auto; /* Đặt chiều cao cố định cho container */
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Đảm bảo không có phần thừa ra */
}

swiper-slide img {
    display: block;
    width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng */
    height: 650px; /* Chiều cao cố định */
    object-fit: cover; /* Giữ tỉ lệ hình ảnh và cắt phần thừa nếu cần */
}